<footer class="text-center">
    <p class="copyright">
      <script>
        var today = new Date().getFullYear();
        document.write((today==2023) ? '2023' : today + ' &ndash; 2021')
      </script>
       | University of Central Florida | Center for Distributed Learning
    </p>

  </footer>