{% extends "base.htm.j2" %}

{% block content %}

<section id="panel-select">
    <div id="overlay"></div>
    <div id="loader" class="loader"></div> 
    <div class="title-bar row">
        <div class="col col-9">
            <h1 class="text-white">Select Your Document</h1>
        </div>
        <div class="col col-3 pt-1">
            <form action="back" method="post">
                <button class="btn btn-outline-primary" type="submit" value="Back" >&#60; Back</button>
            </form>
        </div>
        
        
    </div>
    <div class="card">
        <div class="card-body">
            <p class="card-subtitle mb-2 text-body-secondary">Click the image you wish to scan.</p>
            <div id="file-list" class="file-list">
                {% if not final_output %}
                <img src="assets/ajax-loader.gif" alt="Loading file list, please wait." />
                {% endif %}
                {{ final_output }}
            </div>
            <script>
                showLoad = () => {
                    document.getElementById("loader").style.display = "block";
                    document.getElementById("overlay").style.display = "block";
                }
            </script>
        </div>
    </div>

</section>

{% endblock %}
