{% extends "base.htm.j2" %}

{% block content %}

<div class="container text-center">
        <h1 class="text-white">Welcome</h1>
        <div class="alert alert-warning" role="alert">
                Notice: This tool works best on typed text. Handwriting support is experimental.
        </div>
        <p>
        Choose an image to pull text from. You can either upload a new document or select one from your Course Files. 
        Tesseract  works best with typed text, while Vision API can handle handwritten text. We recommend trying Tesseract first.
    </p>
    <button class="btn btn-primary mb-2" type="button" type="button" onclick="window.location.href='{{ url_for( 'upload'  ) }}';">
            Upload New
    </button>
    <button class="btn btn-primary mb-2" id="btn-select" type="button" type="button" onclick="window.location.href='{{ url_for( 'select'  ) }}';">
            Select Existing
    </button>

</div>
{% endblock %}
