{% extends "base.htm.j2" %}

{% block content %}

<section id="panel-upload">
    <h1 class="text-white">Upload Your Document</h1>
    <p>Please select a model to scan your image. Then click "Choose File" below, select your image file, and click "Submit".</p>
    <div class="mb-3 container">
        <form id="upload-form" action="{{ url_for('uploader') }}" method="post" enctype="multipart/form-data">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="model" id="inlineRadio1" value="tesseract" checked>
                <label class="form-check-label" for="inlineRadio1">Tesseract (Free)</label>
            </div>
                <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="model" id="inlineRadio2" value="vision">
                <label class="form-check-label" for="inlineRadio2">Vision (Paid)</label>
            </div>
            <br/>
            <input type="hidden" name="MAX_FILE_SIZE" class="form-control" value="<?= $max_filesize ?>"/>
            <label id="userfile-label" for="userfile" class="form-label">Select File:</label> 
            <input type="file" class="form-control" name="userfile" id="userfile" accept=".png,.jpg"/>
            <button id="btn-filesubmit" class="btn btn-primary" type="submit" value="Upload" onclick=showLoad()>Upload</button>
        </form>

        <form action="back" method="post">
            <button class="btn btn-outline-primary" type="submit">&#60; Back</button>
        </form>
    </div>
</section>

{% endblock %}