{% extends "base.htm.j2" %}

{% block content %}

<section id="panel-upload">
    <h1>Upload Your Document</h1>
    <p>Click "Choose File" below, select your image file, and click "Submit".</p>
    <div id="dropzone-div" class="inactive-dropzone">
        <button>
            Choose File
        </button>
        <button>
            Upload
        </button>
    </div>
</section>

{% endblock %}